/*Main colors*/
.pcdc
{
  color: #666;
  font-size: 11px;
  padding-top: 20px;
}
.hidden.menu {
  display: none; }

.masthead.segment {
  height: 100vh;
  padding: 1em 0em; }

.masthead .logo.item img {
  margin-right: 1em; }

.masthead .ui.menu .ui.button {
  margin-left: 0.5em; }

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal; }

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal; }

.ui.vertical.stripe {
  padding: 8em 0em; }

.order {
  background-color: #1b1c1d !important; }
  .order h3 {
    font-size: 2.7em !important;
    color: #fff !important; }
  .order p {
    color: #fff !important; }

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em; }

.ui.vertical.stripe .floated.image {
  clear: both; }

.ui.vertical.stripe p {
  font-size: 1.33em; }

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em; }

.quote.stripe.segment {
  padding: 0em; }

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em; }

.footer.segment {
  padding: 5em 0em; }

.secondary.pointing.menu .toc.item {
  display: none; }

@media only screen and (max-width: 991px) {
  .ui.fixed.menu {
    display: none !important; }

  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none; }

  .secondary.pointing.menu .toc.item {
    display: block; }

  .masthead.segment {
    min-height: 350px; }

  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em; }

  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em; } }
.home {
  background: url(../images/homebg.jpg) no-repeat 100% 100% !important;
  background-size: auto auto !important;
  background-size: cover !important; }

.ui.inverted.menu {
  border: 0 !important; }

#mas-ofertas .ui.items > .item {
  margin-bottom: 60px !important; }
#mas-ofertas h2 {
  font-size: 2.714286rem;
  margin: 50px 0 70px 0 !important; }

.main-title h2 {
  text-align: center;
  font-size: 2.714286rem; }

.testimonials {
  margin: 80px 0 50px 0 !important; }
  .testimonials .column {
    text-align: left; }
  .testimonials .image {
    margin: auto;
    margin-bottom: 25px; }
  .testimonials .quote {
    color: #f2711c;
    font-size: 40px; }
  .testimonials h3 {
    font-size: 2.7em !important;
    text-align: center;
    margin: 50px 0 50px 0 !important; }
  .testimonials#register {
    margin-top: 0px !important;
    margin-bottom: 150px !important;
    padding-top: 50px !important;
    outline: none; }
  .testimonials#opinions {
    margin-top: 0px !important;
    padding-top: 50px !important;
    outline: none; }

#map {
  position: relative;
  overflow: hidden;
  display: block;
  height: 400px;
  width: 100%; }

#error-compra {
  padding-top: 10px;
  color: #f2711c; }

#ofertas {
  padding-top: 70px;
  outline: none; }
  #ofertas .extra .price {
    display: inline-block;
    color: #21ba45;
    font-weight: bold; }
    #ofertas .extra .price i.dollar {
      margin: 0; }

#contacto {
  padding-top: 70px;
  outline: none; }

.ui.large.menu {
  font-size: 1.1em; }

.cocinero {
  font-size: 11px; }

#buymap {
  width: 100%;
  height: 166px;
  margin: 0 auto; }

.ui.items > .item .meta {
  line-height: 1.6em; }

.ui.items > .item {
  margin: 3em 0; }

form.form .form-label {
  font-size: 15px !important; }
form.form textarea {
  height: 13.7em !important; }

.ui-button {
  border: 1px solid #e8e8e8 !important;
  background: #e8e8e8 !important; }

input[name="amount"] {
  width: 100% !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important; }

.spinner {
  width: 100%;
  padding-right: 15px !important; }

.ui-spinner {
  width: 100%;
  border: none !important; }

#form-compra div.tag {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 19px;
  margin-right: 10px; }
#form-compra .tagged {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
#form-compra .modal-buttons {
  margin-top: 22px !important; }

.item .image {
  width: 175px; }
  .item .image .ribbon {
    font-size: 14px;
    font-weight: bold; }

.pad-reg {
  padding-top: 0px; }

#buy-modal .description {
  width: 100%; }

.logo {
  font-family: 'Cookie', cursive;
  font-size: 42px;
  color: #fff; }

.title-confirmar {
  font-family: 'Cookie', cursive;
  font-size: 26px;
  color: #555; }

.masthead h1.ui.header {
  margin-top: 2em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal; }

.main-logo {
  font-family: "Cookie", cursive !important;
  font-size: 74px !important; }

.subtitle {
  font-family: Arial;
  font-size: 20px;
  margin-top: -36px;
  display: block; }

.logo-fixed {
  font-family: 'Cookie', cursive;
  font-size: 22px;
  color: #fff; }

.form-style {
  font-size: 1.5em; }

.ui.secondary.pointing.menu .item {
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-radius: 0;
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 10px;
  margin: 0 0 -2px;
  /* padding: .85714286em 1.14285714em; */
  border-bottom-width: 2px;
  -webkit-transition: color .1s ease;
  transition: color .1s ease; }

.menu-item {
  padding-bottom: 20px !important; }

@media only screen and (max-width: 992px) {
  .ui.vertical.stripe {
    padding: 5em 0em; } }
@media only screen and (max-width: 767px) {
  .ui.vertical.stripe {
    padding: 1em 0em; }

  #ofertas {
    padding-top: 50px; }

  .home {
    background-position-x: 50% !important; } }
@media only screen and (max-width: 767px) and (max-width: 404px) {
  .form-label {
    width: 100% !important;
    padding-bottom: 5px;
    margin: 0px !important; } }
.ui.secondary.inverted.pointing.menu .item {
  border: none !important; }

.maps-infowindow {
  font-weight: 500;
  font-size: 19px;
  color: #4a4a4a; }

/*# sourceMappingURL=styles.css.map */
